.custom-line-height {
    line-height: -1.1;
}

.btn {
  transition: color 0.5s ease-in-out; /* Transição suave */
}

.btn i {
  font-size: 22px; /* Tamanho do ícone */
}

.navbar-nav:not(:last-child) .nav-link {
  margin-right: 70px; /* Ajuste o valor conforme necessário */
}

@media (max-width: 362px) {
  .navbar-brand img {
      max-width: 160px; 
  }
}

.btn-whatsapp {
  width: 400px; 
}

@media (max-width: 524px) {
  .btn-whatsapp {
    width: 100%; 
  }
}